---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background";
import Card from "@components/Card";
import Title from "@components/Title";
import Text from "@components/Text";
import Social from "@components/Social";
import ContactType from "@components/ContactType";
import Copyable from "@components/Copyable";

import { Github } from "react-bootstrap-icons";
import { Discord } from "react-bootstrap-icons";
import { Newspaper } from "react-bootstrap-icons";
import { EnvelopeFill } from "react-bootstrap-icons";
---

<Layout snap>
  <Background>
    <Card id="landing" nextId="contact">
      <Title>Hi, I'm Zuma 👋</Title>
      <Text>Web developer & computer science student</Text>
      <div class="my-4 flex items-center gap-2">
        <Social tooltip="Github" href="https://github.com/zuma206">
          <Github />
        </Social>
        <Social tooltip="Discord" href="#contact"><Discord /></Social>
        <Social tooltip="Blog" href="/blog"><Newspaper /></Social>
        <Social tooltip="Email" href="#contact"><EnvelopeFill /></Social>
      </div>
    </Card>
    <Card id="contact" previousId="landing">
      <div class="flex flex-col gap-3">
        <Title>Contact</Title>
        <div class="flex flex-col gap-1">
          <Text>
            <ContactType>Email:</ContactType>
            <Copyable client:visible text="zuma@zuma.eu.org" email />
          </Text>
          <Text>
            <ContactType>Discord:</ContactType>
            <Copyable client:visible text="zu.ma" />
          </Text>
        </div>
      </div>
    </Card>
  </Background>
</Layout>
