---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background";
import Card from "@components/Card";
import Title from "@components/Title";
---

<Layout>
  <Background>
    <Card>
      <Title>Hi, I'm Zuma</Title>
    </Card>
  </Background>
</Layout>
