---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background";
import Card from "@components/Card";
---

<Layout>
  <Background>
    <Card>
      <h1>This is a test</h1>
    </Card>
  </Background>
</Layout>
