---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background";
import Card from "@components/Card";
import Title from "@components/Title";
import Text from "@components/Text";
import Social from "@components/Social";
import ContactType from "@components/ContactType";
import Copyable from "@components/Copyable";
import RepositoryList from "@components/RepositoryList";
import CoolText from "@components/CoolText";

import {
  Github,
  Discord,
  Newspaper,
  EnvelopeFill,
} from "react-bootstrap-icons";

import favicon from "@assets/house.svg";

import { fetchRepos } from "@lib/index";
import Email from "@components/Email";

const repos = await fetchRepos();
const email = atob("enVtYUB6dW1hLmV1Lm9yZw==");
---

<Layout
  snap
  title="Zuma.eu.org"
  icon={favicon}
  description="Hi, I'm Zuma, a web developer and computer science student"
>
  <Background>
    <Card id="landing" nextId="github">
      <Title>Hi, I'm <CoolText>Zuma</CoolText> 👋</Title>
      <Text>Web developer & computer science student</Text>
      <div class="my-4 flex items-center gap-2">
        <Social tooltip="Github" href="#github">
          <Github />
        </Social>
        <Social tooltip="Discord" href="#contact"><Discord /></Social>
        <Social tooltip="Blog" href="/blog"><Newspaper /></Social>
        <Social tooltip="Email" href="#contact"><EnvelopeFill /></Social>
      </div>
    </Card>

    <Card id="github" previousId="landing" nextId="contact">
      <Title>Github Projects</Title>
      <a
        href="https://github.com/zuma206"
        class="opacity-95 hover:opacity-75 transition">Open Github Profile</a
      >
      <RepositoryList client:visible defaultRepos={repos} />
    </Card>

    <Card id="contact" previousId="github">
      <div class="flex flex-col gap-3">
        <Title>Contact</Title>
        <div class="flex flex-col gap-1">
          <Text>
            <ContactType>
              <EnvelopeFill className="inline" /> Email:
            </ContactType>
            <Email email={email} client:visible />
          </Text>
          <Text>
            <ContactType><Discord className="inline" /> Discord:</ContactType>
            <Copyable client:visible text="zu.ma" />
          </Text>
        </div>
      </div>
    </Card>
  </Background>
</Layout>
